[DEFAULT]
sentiment_analysis_list=positive, very_positive, negative, very_negative, neutral, angry, frustrated, confused, upset, disappointed, anxious, relieved, satisfied, grateful, polite, aggressive, impatient, empathetic

intent_classification_list=product_inquiry, service_inquiry, order_status, refund_request, replacement_request, technical_issue, complaint, cancellation_request, billing_issue, appointment_booking, rescheduling, general_query, feedback_submission, service_activation, service_termination, price_negotiation, document_request, plan_change_request, address_change, booking_request, service_unavailable, account_closure, policy_inquiry, refund_followup, payment_issue, connection_issue, ticket_status_check, quotation_request, property_inquiry, health_report_request, travel_package_inquiry, insurance_inquiry, emi_query, subscription_upgrade, onboarding_help, escalation_request, other

transcript_model=small
transcript_model_1=openai/whisper-small

text_analysis_model=facebook/bart-large-mnli

text_summarization_model=meta-llama/Llama-3.1-8B-Instruct